# VSCode folder
.vscode
# Codeblocks folders and files
obj/
bin/
Debug
*.cbp
*.depend
*.layout
# Objects or executable
*.o
*.exe
permis
appartement
TP3-p3
# Compressed files
*.zip
#Temporary files
*.temp